.archive__viewer {
  padding: 2px 1rem;
}

.archive__viewer ol {
  padding: 0;

  list-style: none;
}

.archive__viewer li {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary);
}

.archive__viewer h4,
.archive__viewer p {
  margin: 0.5rem 0;
}
