.dropzone {
  padding: 1rem;
}

.dropzone ol p {
  line-height: 1.5rem;
}

.dropzone .dropzone__area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;

  width: 100%;
  height: 16rem;
}

.dropzone h3 {
  margin: 2rem 0 0.5rem 0;
}

.dropzone table {
  width: 100%;

  border-collapse: collapse;
}

.dropzone th,
.dropzone td {
  padding: 0.5rem;
  border: 1px solid #c0c0c0;

  text-align: left;
}
