.pdf__viewer {
  padding: 2px 0;
}

.pdf__viewer__pages {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pdf__page {
  display: block;
  margin: 2px 0;
  border: 1px solid #ccc;
}
