.three__viewer {
  position: relative;
  margin-top: 1rem;
  padding-top: 40%;

  width: 100%;

  box-shadow: 0 0 0 2px black;
}

.three__viewer .canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;
}
