.torrent__viewer {
  padding: 1rem;
}

.torrent__file header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.torrent__file header p {
  flex: 1;
}

.torrent__file header button {
  margin-right: 1rem;
}

.torrent__file .previewer * {
  width: 100%;
}
